body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: rgb(0, 0, 0); /* Web sayfasının arka plan rengi */
    color: white; /* Metin rengi */
}

h1 {
    color: #00a800; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    animation: color-change 3s infinite;
}

h3:hover {
    animation: color-change 1s infinite;
}